@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "width" 100;
    background-color: #272727;
}
